body {
	font-family: "American Typewriter", "Courier New", monospace;
	font-size: 18px;
	line-height: 27px;
	color: #333333;
    background: #ffffff;
    padding: 25px;
    margin: 5px;
	
}

h1, h2, h3 {
	letter-spacing: 0.05em;
	color: #2DBE60;
	font-weight: 400;
    line-height: 1.2em; /* 48px / 40px */
    margin-bottom: .4em;/* 16px / 40px */
    margin-top: .4em; /* 16px / 40px */
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.1em;
}

#myCanvas canvas {
	/* width: auto!important;
	height: auto!important; */
	border: 1px solid black;
}