@font-face {
	font-family: 'Roboto Mono';
    src: url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: 'Roboto Mono';
    src: url('../fonts/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'Roboto Mono';
    src: url('../fonts/Roboto_Mono/RobotoMono-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

body {
  font-family:'Roboto Mono', 'American Typewriter', monospace;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  padding: 25px;
  margin: 5px;
}

#myCanvas canvas {
	/* width: auto!important;
	height: auto!important; */
	border: 1px solid black;
}